@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  line-height: 1.3;
  color: #222;
  font-family: "Crimson Text", serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

article {
  max-width: 43em;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

article h1 {
  font-weight: normal;
  margin: 0;
}

article header {
  border-bottom: 1px solid #999;
  margin-bottom: 1.3rem;
  margin-top: 1.3rem;
}

article p {
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 1.3rem;
}

article header p {
  font-style: italic;
  margin-bottom: 1.3rem;
}

blockquote {
  max-width: 24em;
  color: #555;
  font-size: 1.125rem;
  margin-top: 0;
  margin-bottom: 1.3rem;
  margin-left: auto;
  margin-right: auto;
}

.quote {
  color: #999;
}

body {
  margin: 0;
}

article ol {
  margin: 0;
  margin-top: 0;
  margin-bottom: 1.3rem;
  padding-left: 1rem;
}

article > p:last-child {
  border-bottom: 1px solid #999;
  padding-bottom: 1.3rem;
}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
    margin-left: 1rem;
    margin-bottom: 1rem;
  }

  article p {
    margin: 0 0 1.4rem;
  }

  ol {
    padding: .4rem;
  }

}

  article {
    margin-bottom: 1rem;
  }

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
    margin-left: 1rem;
    margin-bottom: 1rem;
  }

  article p {
    margin: 0 0 1.4rem;
  }

}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  article p {
    margin: 0 0 1.5rem;
  }

}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  article p {
    margin: 0 0 1.5rem;
  }

}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
    line-height: 1.6;
  }

}
